[Unit]
Description=Disable WiFi power saving for Air Guardian nodes
After=NetworkManager.service network.target
Wants=NetworkManager.service

[Service]
Type=oneshot
ExecStart=/usr/sbin/iw dev wlan0 set power_save off
ExecStart=/usr/bin/nmcli radio wifi on
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
